# Object files
*.o

# Libraries
#*.lib		# 'scripts/Makefile.lib' should be included
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
#*.out
#*.app

##blusjune's extension
##{
*.tags
*.cscope_out
##}
